<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace的名字要跟对应接口的全类名保持一致-->
<mapper namespace="mybatis.mapper.UserMapper" >
    <!--id跟接口的方法名保持一致-->
    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null , 'admin' , '12345' , '23' , '男', '12345@qq.com')
    </insert>
    
    
</mapper>